@(message: String)

@main("Wellcome to softtopia ") {

<!-- Flex Slider -->

<section class="slider">
    <div class="flexslider home">
        <ul class="slides">

            <li><img src="/assets/img/slider01.jpg" alt="" /></li>
            <li><img src="/assets/img/slider02.jpg" alt="" />
                <div class="slide-caption">
                    <h3>We're software developers</h3>
                    <p>Understanding coding as a way of live.</p>
                </div>
            </li>
            <li><img src="/assets/img/slider03.jpg" alt="" /></li>
            <li><img src="/assets/img/slider04.jpg" alt="" /></li>


        </ul>
    </div>
</section>

<!-- Flex Slider / End -->
    
}
